body {
  max-width: 450px;
  margin: auto
}

p {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Karla', serif;
  background-color: transparent;
}

.color-primary {
  color: #F4CE14;
}

.color-gray {
  color: #EDEFEE;
}

.color-white {
  color: white
}

.color-secondary {
  color: #495E57;
}

.bg-secondary {
  background-color: #495E57;
}

.bg-primary {
  background-color: #F4CE14;
}


.bg-gray {
  background-color: #EDEFEE;
}

.font-karla {
  font-family: 'Karla', serif;
}

.text-extrabold {
  font-weight: 800;
}

.text-bold {
  font-weight: 700;
}

.text-medium {
  font-weight: 300;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.direction-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.text-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-medium {
  font-weight: 500;
}

.header-1 {
  margin: 0;
  font-size: 64px;
  line-height: 40px;
  font-weight: medium;
  font-family: 'Markazi Text', serif;
}

.header-2 {
  margin: 0;
  font-size: 40px;
  font-family: 'Markazi Text', serif;
}

.header-3 {
  font-size: 20px;
  font-family: 'Karla', serif;
}

.header-4 {
  font-size: 18px;
  margin: 10px 0;
  font-family: 'Karla', serif;
}

.header-6 {
  font-size: 16px;
  margin: 10px 0;
  font-family: 'Karla', serif;
  font-weight: 700;
}

.font-13 {
  font-size: 13px;
}

.font-18 {
  font-size: 18px;
}

.hero {
  padding: 16px;
}

.hero-subcontainer {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #F4CE14;
  color: #000000;
  border-radius: 16px;
  border:none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
}

.hero-img {
  border-radius: 16px;
  height: 152px;
  width: 147px;
}

.pill-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.pill {
  padding: 10px;
  border-radius: 16px;
}

.card-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-top: solid 1px #EDEFEE;
  border-bottom: solid 1px #EDEFEE;
}

.card-img {
  width: 83px;
  height: 83px;
  object-fit: contain;
  margin-left: 20px;
}